body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: block;
    justify-content: center;
    align-items: center;
  }

h1{
    vertical-align: middle;
    text-align: center;
    font-size: 60px;
    padding: 0;
    font-family: 'Karla', sans-serif;
    font-weight: lighter;
    background-color: rgba(236, 166, 30, 1);
}

/*account*/
.account{
    float: right;
    padding-right: 3px;
    vertical-align: middle;
  }

/* map */
#map {
    height: 500px;
    width: 900px;
    margin: auto;
  }

/* footer design or style */
footer{
    position: sticky;
    box-sizing: border-box;
    text-align: center;
    background-color: rgba(48, 46, 46, 1);
}

.one{
    margin-right: 5px;

}

.two{
    margin-right: 5px;
}

.last{
    margin-top: 10px;
    text-align: center;
    align-items: center;
    margin-left: 500px;
}
.last ul{
    margin: 0;
    padding: 0;
    text-align: center;
    align-items: center;
    padding-bottom: 10px;
}
.last li{
    list-style: none;
    float: left;
    margin-right: 20px;
    text-align: center;
    align-items: center;
}

.last a{
    text-decoration: none;
    color: white;
    display:block;
    text-align: center;
    align-items: center;
}

.row:before,
.row:after,
.group:before,
.group:after {
	content: "";
	display: table;
}

.group:after {
	clear: both;
}

.group {
	zoom: 1;
}

/* This is a side bar menu */
.navigation{
  float: left;
  text-align: center;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

#menu{
  width: 30px;
  height: 30px;
  margin: 20px;
  cursor: pointer;
  z-index: 100;
}

.bar{
  display: block;
  background-color: black;
  height: 5px;
  width: 100%;
  transition: 0.3s ease;

}

#bar1{
  transform: translateY(-4px);
}

#bar3{
  transform: translateY(4px);
}

.navi li a{
  color: black;
  text-decoration: none;
}

.navi li a:hover{
  background-color: aqua;
}

.navi li{
  list-style: none;
  padding: 10px 0;
}

.navi{
  padding:0;
  margin:0 20px;
  transition: 1s ease;
  display: none;
}

.icon .bar{
  background-color: black;
}

.icon #bar1{
  transform: translateY(4px) rotate(-45deg);
}

.icon #bar3{
  transform: translateY(-6px) rotate(45deg);
}

.icon #bar2{
  opacity: 0;
}

.navi2{
  padding: 0;
  margin: 0 20px;
  transition: 1s ease;
  display: flex;
  flex-direction: column;
  position: absolute;

}

